<a href="https://colab.research.google.com/github/2303A51272/pythonDS/blob/main/lab2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = {
    'Order ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Product': ['Laptop', 'Smartphone', 'Laptop', 'Tablet', 'Smartwatch', 'Headphones', 'Smartphone', 'Laptop'],
    'Quantity': [1, 2, 1, 3, 2, 5, 1, 2],
    'Price': [85000, 30000, 85000, 20000, 15000, 4000, 30000, 85000]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
   Order ID     Product  Quantity  Price
0       101      Laptop         1  85000
1       102  Smartphone         2  30000
2       103      Laptop         1  85000
3       104      Tablet         3  20000
4       105  Smartwatch         2  15000
5       106  Headphones         5   4000
6       107  Smartphone         1  30000
7       108      Laptop         2  85000

In [3]:
df['Total Sale'] = df['Quantity'] * df['Price']
print("\nDataFrame with Total Sale:")
print(df)

DataFrame with Total Sale:
   Order ID     Product  Quantity  Price  Total Sale
0       101      Laptop         1  85000       85000
1       102  Smartphone         2  30000       60000
2       103      Laptop         1  85000       85000
3       104      Tablet         3  20000       60000
4       105  Smartwatch         2  15000       30000
5       106  Headphones         5   4000       20000
6       107  Smartphone         1  30000       30000
7       108      Laptop         2  85000      170000

In [4]:
high_value_orders = df[df['Total Sale'] > 1000]
print("\nOrders with Total Sale > 1000:")
print(high_value_orders)

Orders with Total Sale > 1000:
   Order ID     Product  Quantity  Price  Total Sale
0       101      Laptop         1  85000       85000
1       102  Smartphone         2  30000       60000
2       103      Laptop         1  85000       85000
3       104      Tablet         3  20000       60000
4       105  Smartwatch         2  15000       30000
5       106  Headphones         5   4000       20000
6       107  Smartphone         1  30000       30000
7       108      Laptop         2  85000      170000

In [5]:
product_sales = df.groupby('Product')['Quantity'].sum().reset_index()
most_sold = product_sales.loc[product_sales['Quantity'].idxmax()]
print("\nMost Sold Product:")
print(most_sold)

Most Sold Product:
Product     Headphones
Quantity             5
Name: 0, dtype: object

In [6]:
def discount_rule(sale):
    if sale > 100000:
        return 0.15
    elif sale > 50000:
        return 0.10
    else:
        return 0.05

df['Discount Rate'] = df['Total Sale'].apply(discount_rule)
df['Discount Amount'] = df['Total Sale'] * df['Discount Rate']
df['Net Sale'] = df['Total Sale'] - df['Discount Amount']
print("\nDataFrame with Discount and Net Sale:")
print(df)

DataFrame with Discount and Net Sale:
   Order ID     Product  Quantity  Price  Total Sale  Discount Rate  \
0       101      Laptop         1  85000       85000           0.10
1       102  Smartphone         2  30000       60000           0.10
2       103      Laptop         1  85000       85000           0.10
3       104      Tablet         3  20000       60000           0.10
4       105  Smartwatch         2  15000       30000           0.05
5       106  Headphones         5   4000       20000           0.05
6       107  Smartphone         1  30000       30000           0.05
7       108      Laptop         2  85000      170000           0.15

   Discount Amount  Net Sale
0           8500.0   76500.0
1           6000.0   54000.0
2           8500.0   76500.0
3           6000.0   54000.0
4           1500.0   28500.0
5           1000.0   19000.0
6           1500.0   28500.0
7          25500.0  144500.0

In [7]:
summary_path = "ecommerce_sales_summary.xlsx"
df.to_excel(summary_path, index=False)
print(f"\nSummary exported to: {summary_path}")

Summary exported to: ecommerce_sales_summary.xlsx